/*-- scss:defaults --*/
//Darkmode

$body-bg: #181818;
$body-color: white;
$link-color: #d835b8;
$navbar-bg: #641058;
$toc-font-size: 12px;
$code-block-bg-alpha: -.8;
$dropdown-bg: $body-bg;
$dropdown-link-color: $body-color;
$dropdown-link-hover-bg: $gray-600;
$dropdown-link-hover-color: white;
$navbar-hl: #d835b8; 
$input-bg:white;
$dropdown-link-hover-bg: white;
$dropdown-link-active-bg:#d835b8;
//sidebar-bg: #641058;
$sidebar-color: #eee3ed;
$sidebar-link-color: white;
$sidebar-link-hover-bg: #444;