/* Styles CSS pour la Table des matières (TOC) */

/* Appliquer un style global à la page */
body {
    display: flex;
    flex-direction: row; /* Positionner la sidebar à gauche ou à droite */
    margin: 0;
    padding: 0;
    height: 100vh; /* Assurer que la page couvre toute la hauteur de la fenêtre */
}

/* Appliquer un style spécifique à la sidebar TOC */
.quarto-toc {
    width: 150px; /* Largeur de la sidebar TOC */
    height: 100vh; /* Hauteur de la sidebar TOC */
    overflow-y: auto; /* Permet le défilement vertical si le contenu est trop long */
    z-index: 1000; /* Assurer que la sidebar TOC est par-dessus le contenu */
    padding: 20px; /* Espacement autour des éléments de la sidebar */
    box-sizing: border-box; /* S'assurer que le padding ne dépasse pas la largeur allouée */
}

