/* Styles CSS pour la Table des matières (TOC) */
body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 100vh; /* Assurer que la page couvre toute la hauteur de la fenêtre */
}

.quarto-toc {
    width: 150px; /* Largeur de la sidebar TOC */
    height: 100vh; /* Hauteur de la sidebar TOC */
    overflow-y: auto; /* Permet le défilement vertical si le contenu est trop long */
    z-index: 1000; /* Assurer que la sidebar TOC est par-dessus le contenu */
    padding: 20px; /* Espacement autour des éléments de la sidebar */
    box-sizing: border-box; /* S'assurer que le padding ne dépasse pas la largeur allouée */
}

#toc-toggle {
    position: fixed;
    top: 60px;
    left: 60px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    z-index: 1100;
    border: 2px solid #b538a2;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    font-size: 18px;
}

#toc-toggle:hover {
    background-color: #d835b8;
}

#TOC.collapsed {
    width: 0;
    padding: 0;
    overflow: hidden;
}

