/*-- scss:defaults --*/
// Lightmode

$link-color: #2890af;
$navbar-bg: #dc7fd7;
$navbar-hl: #970a74;
$body-bg: #f6f6f6;
$dropdown-bg: $body-bg;
$dropdown-link-hover-bg:#e8e6be;
$dropdown-link-active-bg:#970a74;
$dropdown-link-hover-bg:#e8e6be;
$dropdown-link-active-bg:#970a74;
//sidebar-bg: #dc7fd7;
$sidebar-color: black;
$sidebar-link-color: #970a74;
$sidebar-link-hover-bg: #e8e6be;