/*-- scss:defaults --*/
//Darkmode

$body-bg: #181818;
$body-color: white;
$link-color: #2890af;
$navbar-bg: #641058;
$navbar-hl: #d835b8;
$dropdown-bg: $body-bg;
$dropdown-link-color: $body-color;
$dropdown-link-hover-color: white; 
$dropdown-link-hover-bg: white;
$dropdown-link-active-bg:#d835b8;
//sidebar-bg: #641058;
$sidebar-color: #eee3ed;
$sidebar-link-color: white;
$sidebar-link-hover-bg: #444;