/* Styles CSS pour la Table des matières (TOC) */
body {
  margin: 0;
  padding: 0;
  height: 100vh; /* Assure que la page couvre toute la hauteur de la fenêtre */
}

.navbar .navbar-brand {
  font-size: 27px;
  font-weight: bold;
}

/* Positionner le toggle à gauche */
.quarto-reader-toggle-btn {
  position: absolute;
  top: 68px; 
  left: 0;  
  z-index: 1001;  /* S'assurer que le toggle reste au-dessus des autres éléments */
  background-color: #970a74;
  padding: 10px; /* Espace autour de l'icône */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  border-radius: 6px;
  cursor: pointer;  /* Pour indiquer que c'est cliquable */
}

#quarto-sidebarnav-toggle {
  display: none;  /* Masque la barre latérale */
}

h1 {
  color: #cb27a2;  
}

h2 {
  color: #2890af;  
}